<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Language Classifier</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li  class="nav-item {% if nbar == 'home' %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item {% if nbar == 'doc' %}active{% endif %}">
        <a class="nav-link " href="/doc">Documentation</a>
      </li>

    </ul>
  </div>
</nav>

    {% block content %}

    {% endblock %}
</body>
</html>

